*{
    font-family: 'Dancing Script', cursive;
    font-family: 'Rokkitt', serif;
}

body{
    background-color: #B2DBBF;
    margin: 25px;
    border-style: ridge;
    border-width: 7px;
    border-color: #F3FFBD;
    border-radius: 20px;
    padding: 15px;
}

#page_heading{
    margin: 40px;
    padding: 20px;
    font-size: 70px;
    text-align: center;
    color: #247BA0;
    text-shadow: 3px 3px #F3FFBD;
}

#cha_img{
    height: 450px;
    width: 300px;
    border: solid;
    border-color: transparent;
    border-width: thick;
    border-radius: 30px;
    float: right;
    margin: 20px;
}

.quote{
    color: #247BA0;
    font-weight: 600;
    font-size: 25px;
}

.text{
    font-size: 17px;
    margin: 10px;
}

.trans{
    width: 250px;
    height: 90px;
    margin: 25px;
    transition-property: all;
    transition-duration: 2s;
    border: solid;
    border-width: 5px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    background-color: #70C1B3;
    color: #FF1654;
    border-color: #247BA0;
}

.trans:hover{
    width: 750px;
    font-size: 45px;
    background-color: #247BA0;
    color: #F3FFBD;
    border-color: #FF1854;
}

.heading{
    margin: 15px;
    padding: 5px;
    font-size: 40px;
    text-align: left;
    color: #F3FFBD;
    text-shadow: 3px 3px #247BA0;
}

i{
    color: #247BA0;
}

b{
    color: #247BA0;
}