body{
    margin: 15px;
    border-style: hidden;
    border-width: 4px;
    border-radius: 20px;
    padding: 20px;
}

#page_heading{
    margin: 40px;
    padding: 30px;
    font-size: 60px;
    text-align: center;
    border-style: double;
    border-width: 10px;
    border-radius: 25px;
}

#house_crest{
    height: 250px;
    width: 225px;
    margin: 20px;
    float: right;
}

.text{
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.heading{
    margin: 25px;
    padding: 15px;
    font-size: 35px;
}

.trans{
    width: 250px;
    height: 90px;
    margin: 25px;
    transition-property: all;
    transition-duration: 2s;
    border: solid;
    border-width: 5px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
}

.trans:hover{
    width: 750px;
    font-size: 45px;
}

.img{
    height: 300px;
    width: 250px;
    border-style: solid;
    border-color: transparent;
    border-radius: 25px;
    margin: 20px;
}

li{
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
}